<% content_for :title, "New question" %>

<h1>New question</h1>

<%= render "form", question: @question %>

<br>

<div>
  <%= link_to "Back", questions_path, class: tailwind_button_classes(:secondary) %>
</div>
