<div class="survey-container survey-show mx-auto w-full space-y-8 px-4 sm:px-6 lg:px-4" style="max-width: 90rem;">
  <div class="c-toolbar c-toolbar--spaced">
    <div class="c-toolbar__row">
      <%= link_to "â† Back", admin_surveys_path, class: tailwind_button_classes(:secondary) %>
      <%= link_to "Edit Survey", edit_admin_survey_path(@survey), class: tailwind_button_classes(:primary) %>
    </div>
  </div>

  <div class="rounded-xl border border-indigo-100 bg-indigo-50 px-4 py-3 text-sm text-indigo-700">
    Read-only preview of the survey layout.
  </div>

  <%= render partial: "survey_responses/survey_response", locals: { survey_response: @preview_survey_response, editable: false } %>
</div>
