<div id="<%= dom_id admin %>">
  <p>
    <strong>Admin:</strong>
    <%= admin.admin_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

</div>
