<div id="<%= dom_id competency_response %>">
  <p>
    <strong>Competencyresponse:</strong>
    <%= competency_response.competencyresponse_id %>
  </p>

  <p>
    <strong>Surveyresponse:</strong>
    <%= competency_response.surveyresponse_id %>
  </p>

  <p>
    <strong>Competency:</strong>
    <%= competency_response.competency_id %>
  </p>

</div>
