<p style="color: green"><%= notice %></p>

<% content_for :title, "Competency responses" %>

<h1>Competency responses</h1>

<div id="competency_responses">
  <% @competency_responses.each do |competency_response| %>
    <%= render competency_response %>
    <p>
      <%= link_to "Show this competency response", competency_response %>
    </p>
  <% end %>
</div>

<%= link_to "New competency response", new_competency_response_path %>
