<% content_for :title, "New competency response" %>

<h1>New competency response</h1>

<%= render "form", competency_response: @competency_response %>

<br>

<div>
  <%= link_to "Back to competency responses", competency_responses_path %>
</div>
