<div id="gt-compact" class="translate-nav u-hover-dropdown" aria-hidden="false">
  <button
    id="gt-toggle"
    type="button"
    class="c-icon-button c-icon-button--nav"
    aria-label="Translate site"
    title="Translate site">
    <span class="c-icon-button__icon">
      <span class="sr-only">Translate</span>
      <svg viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true">
        <path d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm7.93 9h-3.1a15.9 15.9 0 0 0-1.16-5.08A8.03 8.03 0 0 1 19.93 11ZM14.8 11H9.2A13.97 13.97 0 0 1 12 4.14 13.97 13.97 0 0 1 14.8 11ZM8.33 11H4.07A8.03 8.03 0 0 1 8.33 5.92 15.9 15.9 0 0 0 8.33 11ZM4.07 13h4.26c.15 1.86.62 3.7 1.4 5.08A8.03 8.03 0 0 1 4.07 13Zm5.13 0h5.6A13.97 13.97 0 0 1 12 19.86 13.97 13.97 0 0 1 9.2 13Zm6.47 0h4.26a8.03 8.03 0 0 1-5.26 5.08c.78-1.38 1.25-3.22 1.4-5.08Zm.3-2h3.96a8 8 0 0 0-1.93-4.63A8.22 8.22 0 0 0 15.97 11Z" />
      </svg>
    </span>
  </button>

  <div id="gt-panel" class="translate-panel u-hover-dropdown__panel" style="display:none;">
    <div class="translate-panel__header">
      <p>Choose a language</p>
      <small>Powered by Google Translate</small>
    </div>
    <div id="google_translate_element" class="translate-widget">Loading...</div>
  </div>
</div>
