<div id="<%= dom_id advisor %>">
  <p>
    <strong>Advisor:</strong>
    <%= advisor.advisor_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= advisor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= advisor.email %>
  </p>

</div>
