<p style="color: green"><%= notice %></p>

<% content_for :title, "Advisors" %>

<h1>Advisors</h1>

<div id="advisors">
  <% @advisors.each do |advisor| %>
    <%= render advisor %>
    <p>
      <%= link_to "Show this advisor", advisor %>
    </p>
  <% end %>
</div>

<%= link_to "New advisor", new_advisor_path %>
