/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps.
 * Use CSS @import statements to include other stylesheets.
 * CSS precedence will follow the standard cascading order.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "_variables.css";
@import "_mixins.css";
@import "_layout.css";
@import "_flash_messages.css";
@import "_forms.css";
@import "student_records.css";
@import "surveys.css";
@import "_dashboards.css";
