<% content_for :title, "New evidence upload" %>

<h1>New evidence upload</h1>

<%= render "form", evidence_upload: @evidence_upload %>

<br>

<div>
  <%= link_to "Back to evidence uploads", evidence_uploads_path %>
</div>
